.jumbotron {

    text-align:center;
    background:white;
    color:navy;


}

.col-6 {
    background: navy;
    color: white;
    text-align: center;
    margin-bottom:20px;
    padding:25px;


}

