body {
    background-image: url("../Images/blizzard.png")

}


.jumbotron {

    text-align:center;
    background-image: linear-gradient(#a71d31, #3f0d12);
    color: white;
    

}



.col-5 {
    background-image: linear-gradient(#3f0d12,#a71d31);
    color: white;
    text-align: center;
    font-weight:bold;
    margin:auto;
    margin-bottom: 25px;
    border-radius: 15px;
    height:125px;
    padding:25px;


}

#message{
    background-image:linear-gradient(white,whitesmoke);
    border-radius: 15px;
    color:#3f0d12;
    font-weight: bold;
    width: 600px;
    margin: auto;
}

#win {

    font-size: 25px;
}

#lose {
    font-size: 25px;

}

#guess_remain {
    font-size: 25px;

}

#incorrect_guess{
    font-size: 25px;

}







